<h1>Portfolio</h1>

<table class="portfolio-table">
    <tbody>
          <th><strong>COMPANIES I'VE HELPED START</strong></th><br>
          <hr>
          <tr>
             <td class="logo"><p><%= image_tag "Medycation_Logo.png" %></p></td>
             <td class="about"><p>A marketplace for elective medical procedures.</p></td>
          </tr>
          <tr>
             <td class="logo"><p>  <%= image_tag "Prescreen_Logo.jpg" %></p></td>
             <td class="about"><p>A video analytics and distribution platform for content providers.</p></td>
          </tr>
          <tr>
             <td class="logo"><p>  <%= image_tag "Groupon_Logo.jpg" %></p></td>
             <td class="about"> <p>Offers daily deals at restaurants, retailers and service providers.</p></td>
          </tr>
          <tr>
             <td class="logo"><p>  <%= image_tag "Capally_Logo.jpg" %></p></td>
             <td class="about"><p>A P2P student loan marketplace.</p></td>
          </tr>
    </tbody>

    <tbody>
          <th><strong>COMPANIES I'VE INVESTED IN</strong></th>
          <tr>
             <td class="logo"><p><%= image_tag "CatheterConnections_Logo.jpg" %></p></td>
             <td class="about"><p>Develops and commercializes vascular access products to protect patients from acquiring infections during intravenous infusion therapy.</p></td>
          </tr>
          <tr>
             <td class="logo"><p><%= image_tag "CreativeMarket_Logo.png" %></p></td>
             <td class="about"><p>A new kind of marketplace for handcrafted, mousemade design content like fonts, icons, photos, templates & more.</p></td>
          </tr>
          <tr>
             <td class="logo"><%= image_tag "easypost_logo.png" %></p></td>
             <td class="about"> <p>Allows developers to integrate USPS, UPS, DHL and FedEx shipping APIs into any application in minutes.</p></td>
          </tr>
          <tr>
             <td class="logo"><p><%= image_tag "ReTargeter_Logo.jpg" %></p></td>
             <td class="about"><p>A full-service display advertising company specializing in audience targeting and retargeting for brands of all sizes.</p></td>
          </tr>
          <tr>
             <td class="logo"><p> <%= image_tag "Rockbot_Logo.jpg" %></p></td>
             <td class="about"><p>A social music platform for businesses that offers an interactive virtual jukebox.</p></td>
          </tr>
    </tbody>

    <tbody>
          <th><strong>COMPANIES I ADVISE</strong></th>
          <tr>
             <td class="logo"><p><%= image_tag "AlpineReplay_Logo.jpg" %></p></td>
             <td class="about"><p>A provider of Web & mobile-enabled products and services to the energy sector.</p></td>
          </tr>
          <tr>
             <td class="logo"><p><%= image_tag "AmericanEfficient_Logo.png" %></p></td>
             <td class="about"><p>A provider of Web & mobile-enabled products and services to the energy sector.</p></td>
          </tr>
          <tr>
             <td class="logo"><%= image_tag "Ringadoc_Logo.png" %></p></td>
             <td class="about"><p>Ringadoc is transforming the way doctors communicate virtually with patients.</p></td>
          </tr>
    </tbody>
</table>
<hr>