<%= simple_form_for(@project) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
  </div>
  <div class='row'>
    <h3> Pictures</h3>
      <%= f.simple_fields_for :pics do |pic| %>
        <%= render 'pic_fields', f: pic %>
      <% end %>
    <div class='links'>
      <%= link_to_add_association 'add pic', f, :pics %>
    </div>
  </div>


  <div class='row'>
    <h3> Tags</h3>
      <%= f.simple_fields_for :tags do |tag| %>
        <%= render 'tag_fields', f: tag %>
      <% end %>
    <div class='links'>
      <%= link_to_add_association 'add tag', f, :tags %>
    </div>
  </div>

  <div class='row'>
    <h3> Tools</h3>
      <%= f.simple_fields_for :tools do |tool| %>
        <%= render 'tool_fields', f: tool %>
      <% end %>
    <div class='links'>
      <%= link_to_add_association 'add tool', f, :tools %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
  <% end %>