<div class='page-header text-center'>
  <h1> My Projects</h1>
</div>
<% @projects.each do |project| %>

  <div class='col-md-3 col-sm-4 col-xs-6 gutter'>
    <% if project.pics.first %>
    <%= link_to image_tag(project.pics.first.image.url(:medium), class: 'img-responsive'), "#", data: { toggle: 'modal', target: "#project-#{ project.id }"} %>
    <% end %>
  </div>
<div class="modal fade" id="project-<%= project.id%>" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel"><%= project.name %></h4>
        </div>
        <div class="modal-body">
          <div class='col-sm-6'>
              Pictures
              <% if project.pics.first %>
                <%= image_tag(project.pics.first.image.url(:large), class: 'img-responsive img-thumbnail' )%>
                <% project.pics.each do |pic| %>
                  <div class='col-sm-4'>
                    <%= image_tag(pic.image.url(:small), class: 'img-responsive img-thumbnail' )%>
                  </div>
                <% end %>
              <% end %>
          </div>

          
          <div class='col-sm-6'>
            Description
            <p><br><%= project.description %></p>
          </div>

        </div>
        <div class="modal-footer">
          <p class="text-center">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </p>
        </div>
      </div>
    </div>
  </div>


<% end %>
