<div class='row'>
  <div class='col-sm-8 col-sm-offset-2'>
    <%= simple_form_for(@post, url: posts_path) do |f| %>
        <%= f.error_notification %>
        <%= f.input :author, placeholder: "Author's name" %>
        <%= f.input :title, placeholder: "Title of post" %>
        <%= f.input :summary, placeholder: "A quick summary of the post" %>
        <%= f.input :body, placeholder: "Write your content here" %>
        <%= f.input :published_at %>
        <%= f.input :featured %>
      <div class="text-center">
        <%= f.submit :submit, class: "btn btn-primary btn-lg" %>
      </div>
    <% end %>
  </div>
</div>
