<!DOCTYPE html>
<html>

<!-- BEGIN: Sticky Header -->
<div id="header_container">
    <div id="header">
    </div>
</div>
<!-- END: Sticky Header -->
  <head>
    <title>Knowshawn</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="nav">
      <%= render 'layouts/navigation_bar' %>
    </div>
    <div class="content">
      <%= yield %>
    </div>
    <footer>
      <p>&copy;<%= Time.now.year %>, Shawn Bercuson </p>
    </footer>
  </body>
</html>


 