<!DOCTYPE html>
<html>
  <head>
    <title>Knowshawn</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'layouts/navigation_bar' %>
      <section id="content">
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, class: name %>
      <% end %>
      <div class="jumbotron">
        <div class="container"
          <%= yield %>
        </div>
      </div>
  </body>
   <footer class="footer">
      <p>&copy;<%= Time.now.year %>, Shawn Bercuson</p>
</html>


 